/* App.css */

/* Import Roboto font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Apply the font to your elements */
body {
  font-family: 'Roboto', sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.custom-dropdown-animation .dropdown-item {
  animation: fadeIn 0.5s ease;
}


.phone-number-box {
  background-color: #363738; /* Example background color */
  padding: 10px;
  border-radius: 8px;
  display: inline-block;
}

.phone-number {
  color: #fff; /* Example text color */
  font-weight: bold;
}

.info {
  position: relative;
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.info::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('..//Images//info_contact_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  filter: blur(1px); /* Adjust the blur value as needed */
  z-index: -1;
}

.info-content {
  color: rgb(240, 240, 240);
  padding-top: 100px;
  z-index: 1;
}



.info-h{
  margin-bottom: 1rem;
  color: white;
  margin-left: 20rem;
  padding-left: 5rem;
}

/* App.css */

/* Add the classic blue color to the custom-navbar class */
.custom-navbar {
  background-color: #36454F !important; /* Classic Blue */
  color: #FFFFFF !important; /* White text on the navbar, adjust as needed */
  font-family: 'Roboto', sans-serif; /* Apply the font to the navbar */
}

/* Style the navigation links */
.custom-navbar .nav-link {
  color: #FFFFFF !important; /* White text for the links, adjust as needed */
}

/* Style the navigation links on hover or focus */
.custom-navbar .nav-link:hover,
.custom-navbar .nav-link:focus {
  color: #FFFFFF !important; /* Adjust as needed */
}

.container-width{
 max-width: 50% !important;
}
